<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.dib.sms222332">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_laureapp_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_laureapp_icon"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="it.uniba.dib.sms222332"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>


        <activity
            android:name=".commonActivities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".commonActivities.ProfileDeletedActivity"
            android:exported="false"/>
        <activity
            android:name=".student.StudentRegisterActivity"
            android:exported="false"
            android:label="Registrazione" />
        <activity
            android:name=".professor.ProfessorRegisterActivity"
            android:exported="false"
            android:label="Registrazione" />
        <activity
            android:name=".commonActivities.LoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".commonActivities.RegisterActivity"
            android:exported="false"
            android:label="Registrazione" />
        <activity
            android:name=".commonActivities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LaureApp.NoActionBar"
            android:windowSoftInputMode="adjustPan"> <!-- Per non far muovere la bottom navigation view quando si apre la tastiera -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>